<!DOCTYPE html>
<html>
<head>
    <title>VideoStream</title>
</head>
<body>
<div style="position:fixed; top:0px; left:0px; width:1280px; height:720px; background-color:#808080;color:#ECF0F1 ;">
    <p style="position:fixed; top:0px;left:890px;font-family:bold;font-size: 18pt">STYLE-GAN2-ADA</p>
    <p style="position:fixed; top:0px;left:260px;font-family:bold;font-size: 28pt">All ARE FAKE!</p>

    <div  class="example-display" style="position:fixed; top:55px; left:700px;">
    <img id="bg" src="{{ url_for('video_feed') }}">
    <div style="position:fixed; top: 100px; left: 30px;">
    <img src="/static/elon.png" width="210px" height="210px" loading="lazy"></div>
        <div style="position:fixed; top: 100px; left: 250px;">
    <img src="/static/1.jpg" width="210px" height="210px" loading="lazy"></div>
        <div style="position:fixed; top: 100px; left: 470px;">
    <img src="/static/2.jpg" width="210px" height="210px" loading="lazy"></div>

        <div style="position:fixed; top: 320px; left: 30px;">
    <img src="/static/3.jpg" width="210px" height="210px" loading="lazy"></div>
        <div style="position:fixed; top: 320px; left: 250px;">
    <img src="/static/4.jpg" width="210px" height="210px" loading="lazy"></div>
        <div style="position:fixed; top: 320px; left: 470px;">
    <img src="/static/tesla.png" width="210px" height="210px" loading="lazy"></div>
        <p style="position:fixed; top:532px;left:260px;font-family:bold;font-size: 16pt;">GAN Transformation of faces</p>
        <p style="position:fixed;top:570px; left:310px;font-family:bold;font-size: 14pt; ">@swati sinha</p>
    </div>

</div>

</body>
</html>